@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family:Poppins,sans-serif;
}

:root{
    --FC:black;
    --SC:aqua;
    --TC:white;
}
a{
    text-decoration: none;
}

body{
    background-color: var(--FC);
    color: white;
} 

header{
    margin-inline:1rem;
    padding: 15px 0;
    display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;
}
@media(max-width:830px){
    header{
        justify-content: center;
    }
    .logo{
        margin-bottom: 1.5rem;
    }
}

header a {
    margin: 0 30px;
    padding:15px 0;
    position: relative;
    border-radius: 25px;
    color: var(--TC);
}
a::after{
    content:"";
    height: 2px;
    width:0;
    position: absolute;
    left:-1px;
    bottom:12px;
    border-radius: 25px;
    background-color: var(--SC);
    transition: .55s;
}
a:hover::after{
    width: 100%;
}

main{
    width: 90%;
    margin-inline:auto ;
}

#home{
    height: calc(100vh - 65px);
    display: flex;flex-direction: column; justify-content: center;
    text-align: center;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--SC);
    text-align: center;
}
#home button{
    width: 200px;
    margin: 20px 10px;
    padding: 15px 0;
    position: relative;
    background-color: transparent;
    color: white;
    border: 2px solid;
    border-radius:25px;
    overflow: hidden;
    z-index: 2;   
}
#home button span{
    height: 100%;
    width:0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--SC);
    border-radius: 25px;
    z-index: -1;
    transition: .5s;
}
#home button:hover span{
    width: 100%;
}
#home button:hover{
    border: none;
}

.Skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Skills article{
    margin: 1rem 1rem 0;
    padding: 1rem 1.5rem;
    display: grid;
    gap: 20px;
    border: 1px solid var(--SC);
    border-radius: 25px;
    text-align: center;
    position: relative;
    transition: .5s;
}
article:hover{
    transform: translateY(-20px);
}
div article div{
    height: 10px;
    position: relative;
    border-radius: 25px;
    background-color: white;
}

article div span{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 25px;
    background-color: aqua;
}

.java{
    width: 85%;
}
.python{
    width: 50%;
}









